@model Tuple<List<Coursework2.Data.Models.Users>, List<Coursework2.Data.Models.GameSession>, List<Coursework2.Data.Models.ClientSession>, List<Coursework2.Data.Models.PackageOfQuestions>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lubota's MAN</title>
</head>
<body>

    <table border="1">
        <caption>Гравці платформи</caption>
        <tr>
            <th>Номер</th>
            <th>Призвище</th>
            <th>Ім'я</th>
        </tr>
        <tr>
            <th>@Model.Item1[0].Id</th>
            <th>@Model.Item1[0].Surname</th>
            <th>@Model.Item1[0].Name</th>
        </tr>
    </table>

    <form method="post" action="/CurrQuestion/CurrQuestionFinishUsers" id="Result">
    </form>
    <form method="post" action="/CurrQuestion/CurrQuestionUser" id="JointGame">
        <table border="1">
            <caption>Усі ващі ігри</caption>
            <tr>
                <th>Номер</th>
                <th>Назва турніру</th>
                <th>Початок турніру</th>
            </tr>

            @{
                var h = Model.Item3.ToList();
                foreach (var x in @Model.Item3)
                {
                    if (x.IdUser == @Model.Item1[0].Id)
                    {
                        foreach (var d in @Model.Item2)
                        {
                            if (d.Id == x.IdSession)
                            {
                                <tr>
                                    <th>@d.Id</th>
                                    <th>@d.NameOfGame</th>
                                    <th>@d.Start</th>
                                    <th>
                                        @if ((d.Start <= DateTime.Now.AddMinutes(5)) && (d.Start >= DateTime.Now))
                                        {
                                            <input type="hidden" name="idGameSession" value="@d.Id" form="JointGame">
                                            <input type="hidden" name="idUsers" value="@Model.Item1[0].Id" form="JointGame">
                                            <input type="hidden" name="idPackage" value="@d.PackageOfQuestions?.Id" form="JointGame">
                                            <button type="submit" form="JointGame">Приєднатися до гри</button>
                                        }
                                        @if (d.Start < DateTime.Now)
                                        {
                                            <input type="hidden" name="idUsers" value="@Model.Item1[0].Id" form="Result">
                                            <input type="hidden" name="idGameSession" value="@d.Id" form="Result">
                                            <button type="submit" form="Result">Подивитися таблицю результатів</button>
                                        }
                                    </th>

                                </tr>
                                break;
                            }
                        }

                    }
                }
            }

        </table>
    </form>



    <form method="post" action="/Users/addGame">

        <select size="1" name="addGame">
            @{
                bool fg = false;
                foreach (var x in @Model.Item2)
                {
                    fg = false;
                    foreach (var d in @Model.Item3)
                    {
                        if (d.IdSession == x.Id && d.IdUser == @Model.Item1[0].Id)
                        {
                            fg = true;
                            break;
                        }
                    }
                    if (!fg)
                    {
                        <option value=@x.Id>@x.NameOfGame</option>
                    }
                }
            }
        </select>
        @*<label>Що це за турнір:</label>
            <input type="text" name="name_of_game" required>
            <label>Час, коли буде проводитися гра: </label>
            <input type="datetime-local" name="datetime" required>*@
        <input type="hidden" name="id" value="@Model.Item1[0].Id">
        @*<input type="hidden" name="idd" value="@Model.Item2[0].Id">*@
        <button type="submit">Add</button>
    </form>


    <script src="/JS/ListUsers.js"></script>
</body>

</html>
